    /* SIDEBAR */

    section[data-testid="stSidebar"] {

        width: 285px !important;
        min-width: 285px !important;

        background: var(--sidebar-bg) !important;

        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);

        border-right: 1px solid var(--sidebar-border) !important;

        box-shadow:
        10px 0 45px rgba(0,0,0,0.12);
        color: rgb(148, 163, 184);
    }

    /* REMOVE STREAMLIT SPACING */

    section[data-testid="stSidebar"] .block-container {

    padding-top: 1rem !important;

    padding-left: 0.9rem !important;

    padding-right: 0.9rem !important;

    padding-bottom: 0rem !important;
    }


    /* LOGO */

    .sidebar-logo {

        display: flex;
        align-items: center;
        gap: 14px;

        padding: 16px 18px;

        margin-bottom: 22px;

        border-radius: 22px;

 background: var(--sidebar-card-bg);

border: 1px solid var(--sidebar-card-border);

        box-shadow:
        0 8px 35px rgba(0,0,0,0.12);

        backdrop-filter: blur(18px);
    }

    .logo-icon {

        width: 54px;
        height: 54px;

        border-radius: 18px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 28px;

        background:
        linear-gradient(
            135deg,
            #3b82f6,
            #8b5cf6
        );

        box-shadow:
        0 10px 30px rgba(59,130,246,0.30);
    }

    .logo-title {

        font-size: 22px;
        font-weight: 700;

        color: var(--sidebar-text);

        letter-spacing: -0.5px;
    }

    .logo-subtitle {

        font-size: 13px;

        color: var(--sidebar-subtext);

        margin-top: 2px;
    }


/* MODERN SIDEBAR BUTTONS */

.stButton > button {

    width: 100%;
    height: 56px;
    letter-spacing: 0.3px;
    font-family: "Inter", sans-serif !important;
    border-radius: 20px !important;

    border: 1px solid var(--sidebar-button-border) !important;

    background: var(--sidebar-button-bg) !important;

    color: var(--sidebar-text) !important;

    font-size: 15px !important;
    font-weight: 600 !important;

    text-align: left !important;

    padding-left: 18px !important;

    backdrop-filter: blur(18px);

    transition:
        all 0.25s ease !important;

    box-shadow: var(--sidebar-hover-shadow) !important;

    padding-bottom: 0rem !important;

    position: relative;

    overflow: hidden;
}

section[data-testid="stSidebar"]::after {

    content: "";

    position: absolute;

    top: 0;
    right: 0;

    width: 1px;
    height: 100%;

    background:
    linear-gradient(
        to bottom,
        transparent,
        rgba(59,130,246,0.25),
        transparent
    );
}
section[data-testid="stSidebar"] .block-container {

    display: flex !important;

    flex-direction: column !important;

    height: 100vh !important;

    overflow-y: auto !important;

    padding-bottom: 100px !important;
}
[data-testid="stSidebar"] .stAlert p {

    margin-bottom: 6px !important;

    line-height: 1.3 !important;
}
[data-testid="stSidebar"] .stAlert:hover {

    transform: translateY(-2px);

    transition: 0.25s ease;

    box-shadow:
    0 12px 35px rgba(59,130,246,0.18);
}
div[data-testid="stVerticalBlock"]
> div:has(button[key="top_newchat_btn"])
button {

    height: 54px !important;

    border-radius: 18px !important;

    font-size: 15px !important;

    font-weight: 600 !important;
}


/* THEME TOGGLE */

section[data-testid="stSidebar"]
div[data-testid="stToggle"] {

    margin-top: 8px !important;

    margin-bottom: 25px !important;

    padding-left: 4px !important;
}

section[data-testid="stSidebar"]
div[data-testid="stToggle"] label {

    color: var(--sidebar-text) !important;

    font-size: 14px !important;

    font-weight: 600 !important;
}
/* CHAT HISTORY MINIMAL */

div[data-testid="stButton"]:has(
button[key^="chat_"]
) button {

    background: transparent !important;

    border: none !important;

    box-shadow: none !important;

    border-radius: 0 !important;

    min-height: auto !important;

    height: auto !important;

    padding: 6px 4px !important;

    margin: 0 !important;

    text-align: left !important;

    justify-content: flex-start !important;

    font-size: 13px !important;

    font-weight: 500 !important;

    color: rgba(255,255,255,0.82) !important;
}
button[kind="secondary"] p {

    font-size: 13px !important;

    font-weight: 500 !important;

    line-height: 1.2 !important;

    letter-spacing: 0px !important;

    margin: 0 !important;

    padding: 0 !important;

    color: var(--sidebar-subtext) !important;
}
    /* SCROLLBAR */

    section[data-testid="stSidebar"] ::-webkit-scrollbar {

        width: 6px;
    }

    section[data-testid="stSidebar"] ::-webkit-scrollbar-thumb {

        background:
        rgba(255,255,255,0.12);

        border-radius: 20px;
    }
    .sidebar-divider {

    height: 1px;

    margin-top: 26px;
    margin-bottom: 22px;

    background:
    linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,0.12),
        transparent
    );
}

/* GLOW LINE */

.stButton > button::before {

    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 4px;
    height: 100%;

    background:
    linear-gradient(
        180deg,
        #3b82f6,
        #8b5cf6
    );

    opacity: 0;

    transition: 0.25s;
}


/* HOVER */

.stButton > button:hover {

    transform:
        translateY(-2px);

    background: var(--sidebar-hover-bg) !important;
    border: 1px solid var(--sidebar-hover-border) !important;

    box-shadow: var(--sidebar-hover-shadow) !important;
}


/* SHOW LEFT GLOW */

.stButton > button:hover::before {

    opacity: 1;
}


/* CLICK */

.stButton > button:active {

    transform: scale(0.98);
    
}


/* REMOVE OUTLINE */

.stButton > button:focus {

    outline: none !important;
    box-shadow: none !important;
}

div[data-testid="stButton"]:has(
button[key^="chat_"]
) button:hover {

    background:
    rgba(0,0,0,0.04) !important;

    border: none !important;

    box-shadow: none !important;

    transform: none !important;
}

/* REMOVE INNER BUTTON SPACING */

div[data-testid="stButton"]:has(
button[key^="chat_"]
) button > div {

    padding: 0 !important;

    margin: 0 !important;

    justify-content: flex-start !important;
}

/* REMOVE PARAGRAPH SPACING */

div[data-testid="stButton"]:has(
button[key^="chat_"]
) button p {

    margin: 0 !important;

    padding: 0 !important;

    line-height: 1.2 !important;
}

div[data-testid="stButton"] button[kind="secondary"]:hover {

background: var(--sidebar-secondary-hover-bg) !important;

    transform: none !important;

border: 1px solid var(--sidebar-secondary-hover-border) !important;
}

.sidebar-logo h2{
color: var(--sidebar-text) !important;

    font-weight: 700 !important;

    margin-bottom: 0px !important;
    }
.sidebar-logo p{
        margin-bottom: 20px !important;
    }

/* SIDEBAR TOGGLE */

[data-testid="collapsedControl"] {

    color: #111827 !important;

    opacity: 1 !important;

    font-weight: 700 !important;
}

[data-testid="collapsedControl"] * {

    color: #111827 !important;

    fill: #111827 !important;

    stroke: #111827 !important;

    opacity: 1 !important;
}

/* DARK MODE */

[data-theme="dark"] [data-testid="collapsedControl"],
[data-theme="dark"] [data-testid="collapsedControl"] * {

    color: white !important;

    fill: white !important;

    stroke: white !important;
}

@media (width: 1024px) and (height: 600px) {

    [data-testid="collapsedControl"] {

        transform: scale(0.65) !important;

        top: 6px !important;
    }
}